<div id='page-index'>
  <h1 id='title'>capsika dus dnb lol</h1>
  <br/>
  <a href='http://www.soundcloud.com/capsika' class='soundcloud'>soundclouds</a>
  <a href='http://www.facebook.com/capsikauk' class='facebook'>facebooks</a>
  <audio loop autoplay>
    <source src='/media/sicktuneyo.mp3' type='audio/mp3' />
  </audio>
  <script type='text/javascript'>
  var t = document.getElementById('title'); var i = setInterval(function () { console.log("You're a cunt"); t.style.display = (t.style.display === 'none' ? 'block' : 'none'); }, 500);
  </script>
</div>
