#page-index
  // width 400px
  height 200px
  text-align center
  margin 60px auto 0px
  h1
    font-family "Comic Sans MS", "Marker Felt", "Kristen ITC", sans-serif
    color #ff00ff
  a
    font-family "Comic Sans MS", "Marker Felt", "Kristen ITC", sans-serif
    color white
    &.soundcloud
      color orange
    &.facebook
      color #00ff00
